.title-events {
    font-family: 'building';
    font-size: 50px;
    margin: 20px 80px 40px 80px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.container-gallery {
    width: 90%;
    margin: 1rem auto; 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 7vw);
    column-gap: normal;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
}

.gallery__item--1 {
    grid-column-start: 1;
    position: relative;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--2 {
    position: relative;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    position: relative;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery__item--4 {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.events-grid {
    display: flex;
    align-items: center;
    padding: 0 70px;
    
}

.events-grid-component {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.button-price-events-component {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: rgba(209, 208, 208, 0.623);
}

.button-bookmark-events-component {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: rgba(209, 208, 208, 0.623);
}

.button-free-events-component {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: #c5463bd2;
}

.event-top-image {
    height: 100%; 
    width: 100%;
    object-fit: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 0;
}